NEXT_PUBLIC_PROJECT_ID=6756806cba2601750f89e7fd325c28f1
NEXT_PUBLIC_ENABLE_TESTNETS=true

PINATA_API_KEY=121482d21f50f4cd29f5
APINATA_PI_SECRET=dcafb013b19726826b8f21c708f7fd44727eed0d5dd022298cdf26d7eb2e7d60
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiNjRiMjJhNC01NzdjLTQxNGQtYWE0NS02YjYyNGU4NjgyMTIiLCJlbWFpbCI6Im1pa2UueXVhbi53b3JrQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIxMjE0ODJkMjFmNTBmNGNkMjlmNSIsInNjb3BlZEtleVNlY3JldCI6ImRjYWZiMDEzYjE5NzI2ODI2YjhmMjFjNzA4ZjdmZDQ0NzI3ZWVkMGQ1ZGQwMjIyOThjZGYyNmQ3ZWIyZTdkNjAiLCJleHAiOjE3NzA5OTI1NTJ9.ERdZfQ-cnp84_PVUzieWOKwjge-hs44g5Z3_QSVimNU
NEXT_PUBLIC_GATEWAY_URL=peach-abstract-jackal-615.mypinata.cloud
